# docker tag <A nginx docker image> nginx:using
# Copy this file to /etc/systemd/system/
# sudo systemctl daemon-reload
# systemctl start mynginx
# https://docs.docker.com/articles/systemd/

[Unit]
Description=mynginx+php+cgit+nbviewer+jupyter-notebook
After=network.target
Requires=docker.service
After=docker.service

[Service]
Restart=always
SyslogIdentifier=mynginx
Environment='WebData=/home/WebData'
ExecStart=/usr/bin/docker run --rm -p 80:80 -p 808:808 -v ${WebData}/etc:/srv/etc:ro -v ${WebData}/log:/srv/log:rw -v ${WebData}/root_files:/srv/http:rw -v ${WebData}/project:/srv/project:ro -v ${WebData}/repo-shmilee:/srv/repo-shmilee:ro -v /home/IFTS_shmilee/notebook:/srv/notebook:rw -v /home/IFTS_shmilee:/srv/http/upload/IFTS_shmilee:ro  --name mynginx_server nginx:using
ExecStop=/usr/bin/docker stop -t 2 mynginx_server
User=shmilee

[Install]
WantedBy=multi-user.target
