{

  "log" : {
    // "debug", "info", "warning", "error", "none"
    "loglevel": "warning"
  },

  "inbounds": [
    {
      "tag": "socks-8087",
      "port": 8087,
      // "listen": "127.0.0.1",
      "protocol": "socks",
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      },
      "settings": {
        "auth": "noauth"
      }
    },
    {
      "tag": "socks-8187",
      "port": 8187,
      // "listen": "127.0.0.1",
      "protocol": "socks",
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      },
      "settings": {
        "auth": "noauth"
      }
    }
  ],

  "outbounds": [
    {
      "tag": "simple-vmess",
      "protocol": "vmess",
      "settings": {
        "vnext": [
          {
            "address": "{{ip-addr}}",
            "port": {{port1}},
            "users": [
              {
                "id": "{{UUID1}}",
                "alterId": 64
              }
            ]
          }
        ]
      },
      "mux": {"enabled": true}
    },
    {
      "tag": "ws-vmess",
      "protocol": "vmess",
      "settings": {
        "vnext": [
          {
            "address": "{{domain-name}}",
            "port": 443,
            "users": [
              {
                "id": "{{UUID2}}",
                "alterId": 64
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "ws",
        "security": "tls",
        "wsSettings": {
          "path": "/{{v2raypath}}"
        }
      }
    }
  ],

  "routing": {
    "strategy": "rules",
    "settings": {
      "rules": [
        {
          "type": "field",
          "inboundTag": [
            "socks-8087"
          ],
          "outboundTag": "simple-vmess"
        },
        {
          "type": "field",
          "inboundTag": [
            "socks-8187"
          ],
          "outboundTag": "ws-vmess"
        }
      ]
    }
  }

}
