# https://docs.docker.com/articles/systemd/

[Unit]
Description=kiwix-serve
After=network.target

[Service]
Restart=always
ExecStart=/usr/lib/kiwix/bin/kiwix-serve --library --port=8080 /home/WebData/kiwix-data/library.xml
User=nobody

[Install]
WantedBy=multi-user.target
