[Unit]
Description=AutoSSH service for local port 80,443 forwarded to 222-205-55-11:8080,8043, local 2323 to remote 2323
# place this in /etc/systemd/system/, than enable this.
After=network.target
Requires=lnmp.service
After=lnmp.service

[Service]
Environment="AUTOSSH_GATETIME=0" "AUTOSSH_POLL=60" "AUTOSSH_LOGFILE=/var/log/lnmpssh.log"
ExecStart=/usr/bin/autossh -M 22000 -NR 127.0.0.1:8080:localhost:80 -NR 127.0.0.1:8043:localhost:443 -NR 0.0.0.0:2323:localhost:2323 -o TCPKeepAlive=yes -p 5321 shmilee@222.205.55.11 -i /home/shmilee/.ssh/id_rsa

[Install]
WantedBy=multi-user.target
