# docker tag <A mylnmp docker image> mylnmp:using
# Copy this file to /etc/systemd/system/
# sudo systemctl daemon-reload
# systemctl start mylnmp
# https://docs.docker.com/articles/systemd/

[Unit]
Description=mynginx+mysql+php+cgit
After=network.target
Requires=docker.service
After=docker.service

[Service]
Restart=always
SyslogIdentifier=mylnmp
Environment='WebData=/home/WebData'
ExecStart=/usr/bin/docker run --rm -p 80:80 -p 443:443 \
    -v ${WebData}/etc:/srv/etc:ro \
    -v ${WebData}/log:/srv/log:rw \
    -v ${WebData}/root_files:/srv/http:rw \
    -v ${WebData}/project:/srv/project:ro \
    -v ${WebData}/repo-shmilee:/srv/repo-shmilee:ro \
    -v /home/IFTS_shmilee:/srv/http/upload/IFTS_shmilee:ro \
    -v /home/VideoData:/srv/http/videos:ro \
    --name mylnmp_server mylnmp:using
ExecStop=/usr/bin/docker stop -t 2 mylnmp_server
ExecStop=/usr/bin/docker rm mylnmp_server
User=shmilee

[Install]
WantedBy=multi-user.target
