### https://www.phusionpassenger.com/library/config/nginx/reference/
passenger_root /usr/lib/mynginx/passenger/lib/ruby/vendor_ruby/phusion_passenger/locations.ini;
passenger_ruby /usr/bin/ruby;
passenger_nodejs /usr/bin/node;
passenger_python /usr/bin/python3;

# 1
server {
    listen      9981;
    server_name localhost;
    root ==PWD==/passenger-ruby-rails-demo/public;
    passenger_enabled on;
    rails_env development;
}

# 2
server {
    listen      9982;
    server_name localhost;
    root ==PWD==/passenger-ruby-faye-websocket-demo/public;
    passenger_enabled on;
}

# 3
server {
    listen      9983;
    server_name localhost;
    root ==PWD==/passenger-nodejs-websocket-demo/public;
    passenger_enabled on;
    # Sticky sessions are required for long polling support!
    passenger_sticky_sessions on;
}

# 4
server {
    listen      9984;
    server_name localhost;
    root ==PWD==/passenger-nodejs-connect-demo/public;
    passenger_enabled on;
}

# 5
server {
    listen      9985;
    server_name localhost;
    root ==PWD==/passenger-python-flask-demo/public;
    passenger_enabled on;
}
